<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learning EJS</title>
</head>
<body>
    <h1>EJS is an awesome template to start with </h1>
    <p>Hi there,I am Mahbub Hossain Faisal. I am a software engineering student at American International University-Bangladesh. </p>
</body>
</html>